.footer {
  width: 100%;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
  color: var(--cor-branco3);
}

.footer span {
  color: var(--cor-red);
}

.footer p {
  padding: 10px;
}