.informacoes-bg {
  margin-top: 250px;
  height: 800px;
}

/* Retângulos INICIO */

.retangulos {
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.informações-retangulo-sobremim,
.informações-retangulo-motivacoes,
.informações-retangulo-gostos-pessoais,
.informações-retangulo-formacao {
  max-width: 500px;
  height: auto;
  color: var(--cor-branco);
  position: absolute;
  padding-bottom: 30px;
  min-width: 300px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.informacoes-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.informacoes1 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.informacoes2 {
  color: var(--cor-branco2);
  line-height: 30px;
}
/* Retângulos FIM */
.informacoes-decoracao {
  position: absolute;
  margin-left: 88vw;
  opacity: 0.3;
  animation: linear infinite;
}

.informacoes-decoracao {
  animation-name: slide;
  animation-duration: 02s;
}

.setadireita,
.setaesquerda {
  position: absolute;
  cursor: pointer;
  opacity: 40%;
}

.setadireita {
  margin-top: 18vh;
  margin-left: 80vw;
}

.setaesquerda {
  margin-top: 18vh;
  margin-left: 14vw;
}

.setadireita:hover,
.setaesquerda:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(2000%)
    hue-rotate(10deg) brightness(90%) contrast(90%);
  opacity: 100%;
}

.slide-indicators {
  display: flex;
  margin-top: 60vh;
  position: absolute;
  margin-left: 47vw;
}

.slide-indicators input {
  display: none;
}

.slide-indicators label {
  width: 15px;
  height: 15px;
  background: var(--cor-branco3);
  border-radius: 50%;
  cursor: pointer;
}

.slide-indicators label:nth-child(n + 2) {
  margin-right: 10px;
}

.slide-indicators input:checked + label {
  background: var(--cor-red);
}

/* ANIMAÇÂO DO ELEMENTO DECORATIVO */

@keyframes slide {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* ANIMAÇÂO DO ELEMENTO DECORATIVO */

@media (width <= 1100px) {
  .informações-retangulo-sobremim,
  .informações-retangulo-motivacoes,
  .informações-retangulo-gostos-pessoais,
  .informações-retangulo-formacao {
    margin-top: 40px;
    background: none;
    max-width: 50px;
    margin-right: auto;
    min-width: 100%;
  }

  .retangulos {

    margin-left: 5px;
    height: auto;
  }

  .informacoes-bg {
    height: 600px;
  }

  .informacoes-container {
    width: 50vw;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .informacoes1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .informacoes2 {
    font-size: 0.8rem;
    line-height: 5px;
    color: var(--cor-branco3);
  }

  .informacoes-decoracao {
    width: 25px;
  }
  .informacoes-bg {
    margin-top: 5px;
  }

  .setadireita {
    width: 35px;
    z-index: 1;
    margin-left: 83vw;
  }

  .setaesquerda {
    width: 35px;
    z-index: 1;
    margin-left: 5vw;
  }

  .slide-indicators {
    margin-top: 35vh;
  }
  .slide-indicators label {
    width: 5px;
    height: 5px;
  }
}

@media (width <= 500px) {
  .slide-indicators {
    margin-top: 50vh;
    margin-left: 43vw;
  }
}



  @media (width <= 380px) {
    .slide-indicators {
      margin-top: 65vh;
    }
    @media (width <= 250px) {
      .slide-indicators {
        margin-top: 60vh;
      }
}
}