.informacoes-bg {
  margin-top: 200px;
}

/* Retângulos INICIO */
.informações-retangulo-sobremim,
.informações-retangulo-motivacoes,
.informações-retangulo-gostos-pessoais,
.informações-retangulo-formacao {
  margin-left: 25vw;
  width: 800px;
  height: 520px;
  background-repeat: no-repeat;
  color: var(--cor-branco);
  align-content: center;
  position: absolute;
  display: none;
}

.informações-retangulo-sobremim {
  background: url(../../img/retanguloSobreMim.svg);
  background-repeat: no-repeat;
}
.informações-retangulo-motivacoes {
  background: url(../../img/retanguloMotivacoes.svg);
  background-repeat: no-repeat;
}
.informações-retangulo-gostos-pessoais {
  background: url(../../img/retanguloGostoPessoais.svg);
  background-repeat: no-repeat;
}
.informações-retangulo-formacao {
  background: url(../../img/retanguloFormacao.svg);
  background-repeat: no-repeat;
}

.informacoes-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.informacoes1 {
  margin-bottom: 60px;
}

.informacoes2 {
  color: var(--cor-branco2);
  line-height: 30px;
}
/* Retângulos FIM */
.informacoes-decoracao {
  position: absolute;
  margin-left: 82vw;
  opacity: 0.3;
  animation: linear infinite;
}

.informacoes-decoracao {
  animation-name: slide;
  animation-duration: 02s;
}

.setadireita,
.setaesquerda {
  position: absolute;
  cursor: pointer;
  opacity: 40%;
}

.setadireita {
  margin-top: 18vh;
  right: 22vw;
}

.setaesquerda {
  margin-top: 18vh;
  left: 15vw;
}

.setadireita:hover,
.setaesquerda:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(2000%)
    hue-rotate(10deg) brightness(90%) contrast(90%);
  opacity: 100%;
}

.slide-indicators {
  display: flex;
  justify-content: center;
  margin-top: 55vh;
  position: absolute;
  margin-left: 42vw;
}

.slide-indicators input {
  display: none;
}

.slide-indicators label {
  width: 15px;
  height: 15px;
  background: var(--cor-branco2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.slide-indicators input:checked + label {
  background: var(--cor-red);
}

/* ANIMAÇÂO DO ELEMENTO DECORATIVO */

@keyframes slide {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* ANIMAÇÂO DO ELEMENTO DECORATIVO */

@media (width <= 900px) {
  .informações-retangulo-sobremim,
  .informações-retangulo-motivacoes,
  .informações-retangulo-gostos-pessoais,
  .informações-retangulo-formacao {
    background: none;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
  }

  .informacoes-container {
    width: auto;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .informacoes1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .informacoes2 {
    font-size: 0.8rem;
    line-height: 5px;
    color: var(--cor-branco3);
  }

  .informacoes-decoracao {
    width: 25px;
    position: 0px;
  }
  .informacoes-bg {
    margin-top: 5px;
  }
  .setaesquerda,
  .setadireita {
    width: 35px;
  }
  .setaesquerda {
    margin-top: 18vh;
    left: 8vw;
  }
  .setadireita {
    margin-top: 18vh;
    right: 8vw;
  }
}
